.footer {
    background-color: var(--color-primario);
    color: white;
    font-size: 0.95rem;
}

.footer-logo {
    width: 450px;
    max-width: 100%;
    height: auto;
}

.footer-title {
    color: var(--color-secundario);
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.footer p {
    margin: 0.3rem 0;
}

.footer-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: var(--color-secundario);
    text-decoration: underline;
}


/* Avatar */
.avatar-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--color-secundario);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

/* Social icons */
.social-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    text-decoration: none;
}

.social-icon.youtube {
    background-color: var(--color-alerta);
}

.social-icon.facebook {
    background-color: var(--color-celeste);
}

.social-icon.instagram {
    background-color: var(--color-acento);
}

.social-icon.whatsapp {
    background-color: var(--color-secundario);
}

.social-icon:hover {
    transform: scale(1.15);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}

/* Línea inferior */
.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 0.85rem;
    color: var(--color-gris);
}

@media (max-width: 768px) {
    .footer img {
        display: block;
        margin: 0 auto;
        /* centra en móvil */
    }

    º.avatar-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid var(--color-secundario);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    }
}