.banner-section {
  margin: 40px auto;
  padding: 20px;
  font-family: "Inter", sans-serif;
}

.banner-section h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
  text-align: left;
}

/* Carrusel */
.myBannerSwiper {
  border-radius: 15px;
  overflow: hidden; /* aplica el border-radius al contenedor */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.myBannerSwiper .swiper-slide img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
  object-fit: cover;
}

/* Flechas */
.myBannerSwiper .swiper-button-next,
.myBannerSwiper .swiper-button-prev {
  color: #6366f1;
  transition: color 0.3s ease;
}

.myBannerSwiper .swiper-button-next:hover,
.myBannerSwiper .swiper-button-prev:hover {
  color: #8b5cf6;
}

/* Dots */
.myBannerSwiper .swiper-pagination-bullet {
  background: #b1b3f8;
  opacity: 1;
}

.myBannerSwiper .swiper-pagination-bullet-active {
  background: #6366f1;
}
