/* Card */
/*      --color-title: #0D5963;
        --color-background-type: #CA3148;
        --color-text: #808080;
        --color-box-shadow: ##d1d1d1;
        --color-background: #7ECCE1;
        --color-broder-card: #e5f3f9;
 */

/* Grid de noticias adaptativo */
.noticias-grid-full {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
}

/* Tarjeta de noticia */
.card {
    background-color: var(--color-background);
    border: 1px solid var(--color-broder-card);
    cursor: pointer;
    flex-direction: column;
    height: 100%;
    border-radius: 21px;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 15px var(--color-border-card);
    background-color: var(--color-background-cursor);
}

.tipo-noticia-full {
    display: inline-block;
    padding: 6px 12px;
    background-color: var(--color-background-type);
    color: white;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.85rem;
    margin-bottom: 10px;
    margin-left: 18px;
}

/* Responsivo */
@media (max-width: 812px) {
    .card-image img {
        height: 230px;
    }
}