@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Colors*/
:root {

    /* paleta de colores graneros */
    --color-1: #0D5963;
    --color-2: #AECD61;
    --color-3: #E26312;
    --color-4: #CA3148;
    --color-5: #E9B02D;
    --color-6: #808080;
    --color-7: #7ECCE1;
    /* final paleta */

    --background-color: white;
    --text-title-color: #053D4E;
    --text-color: #32363B;

    /* header */
    --color-header-background: #0D5963;

    /* sidebar */
    --color-icons-sidebar: #0D5963;
    --color-text-sidebar-selected: #0D5963;
    --color-background-sidebar: #e5f3f9;

    /* Card */
    --color-title: #0D5963;
    --color-background-type: #CA3148;
    --color-text: #3d3d3d;
    --color-box-shadow: #b0b0b0;
    --color-background: #e5f3f9;
    --color-background-cursor: #c6e7f1;
    --color-border-card: #ffffff;

    /* Link de Interes */
    --color-text-link-interes: #082d49;
    --color-background-link-interes: #eaf6ff;
    --color-background-hover-link-interes: #bae4fd;

    /* boton de llamada de emergencia */
    --text-color-emergency: #ffffff;
    --icon-color-emergency: #ffffff;
    --backgroung-emergency-color: #de4848;

    /* boton de whatsapp de emergencia */
    --text-color-whatsapp: #ffffff;
    --icon-color-whatsapp: #ffffff;
    --backgroung-whatsapp-color: #10bb13;

    --text-selected-color: #355CC0;
    --background-selected: #EBF0FF;

    /* color de contacto de emergencias */
    --background-hover: #F7F9FA;

    --border-color: #E6E9ED;
}

/*Global styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/*Header*/
header {
    z-index: 200;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.45rem 2rem 0.45rem 1.27rem;
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    background-color: var(--color-header-background);
    top: 0;
    left: 0;
}

/*Left Section*/
.left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
}

.banner-circulacion {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.banner-circulacion img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

/* Carrusel CSS puro */
.carousel {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.carousel-track {
    display: flex;
    width: 500%;
    /* 5 banners */
    animation: slide 20s infinite;
    /* ajustar tiempo según cantidad */
}

.carousel-track a {
    width: 20%;
    /* 100% / 5 banners */
    display: block;
    flex-shrink: 0;
}

/* Animación para 5 banners */
@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    16% {
        transform: translateX(0%);
    }

    20% {
        transform: translateX(-20%);
    }

    36% {
        transform: translateX(-20%);
    }

    40% {
        transform: translateX(-40%);
    }

    56% {
        transform: translateX(-40%);
    }

    60% {
        transform: translateX(-60%);
    }

    76% {
        transform: translateX(-60%);
    }

    80% {
        transform: translateX(-80%);
    }

    96% {
        transform: translateX(-80%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* Imágenes responsivas */
.carousel-track img {
    width: 100%;
    display: block;
}


/*Menu*/
.menu-container {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu {
    width: 1.5rem;
    height: 37%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu div {
    width: 100%;
    height: 0.15rem;
    background-color: var(--menu-color);
    transition: all 0.2s ease;
}

.menu.menu-toggle div:first-child {
    width: 40%;
    transform: rotate(-35deg) translate(-30%, 175%);
}

.menu.menu-toggle div:last-child {
    width: 40%;
    transform: rotate(35deg) translate(-30%, -160%);
}

/* Dropdown container */
.dropdown {
    position: relative;
}

/* Botón principal */
.dropbtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
}

/* Flechita */
.arrow {
    transition: transform 0.3s ease;
    font-size: 0.8rem;
    margin-left: auto;
}

/* Contenido oculto */
.dropdown-content {
    display: none;
    flex-direction: column;
    background-color: #fff;
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Links internos */
.dropdown-content li a {
    padding: 10px 15px 10px 45px;
    color: #333;
    text-decoration: none;
}

.dropbtn i {
    margin-right: 8px;
    font-size: 1rem;
}

.dropdown-content li a i {
    margin-right: 8px;
    font-size: 0.9rem;
}


.dropdown-content li a:hover {
    background-color: #f0f0f0;
}

/* Cuando está activo */
.dropdown.active .dropdown-content {
    display: flex;
}

/* Rotación flecha */
.dropdown.active .arrow {
    transform: rotate(90deg);
}




/*Brand*/
.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.brand .logo {
    width: 11rem;
}

.brand .name {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--text-title-color);
}

/*Right Section*/
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.right a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4.5rem;
    transition: all 0.3s ease;
}

.right a:hover {
    transform: translateY(-2px);
}

.right img {
    width: 1.6rem;
    margin: 0.5rem;
    filter: brightness(0) invert(1);
}

.right .user {
    width: 2.1rem;
    border-radius: 50%;
}

/* Ícono persona dentro */
.right .person img {
    filter: none;
    /* elimina el invert */
    width: 1.6rem;
    margin: 0.5rem;
    /* convierte el SVG negro a #053D4E */
    filter: invert(16%) sepia(18%) saturate(2394%) hue-rotate(158deg) brightness(95%) contrast(98%);
}

.person {
    background-color: white;
}

/* Tooltip en hover para el botón persona */
.right .person {
    position: relative;
    /* necesario para ubicar el tooltip */
    background-color: white;
    color: #053D4E;
}

/* Texto del tooltip */
.right .person::after {
    content: "Intranet";
    /* texto que aparece */
    position: absolute;
    bottom: -1.8rem;
    /* debajo del botón */
    left: 50%;
    transform: translateX(-50%);
    background-color: #053D4E;
    color: white;
    font-size: 0.75rem;
    padding: 0.3rem 0.6rem;
    border-radius: 0.4rem;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Mostrar en hover */
.right .person:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(2px);
}

/*Sidebar*/
.sidebar {
    margin-top: 4rem;
    width: 4rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 1.1rem 0;
    border-right: 1px solid var(--border-color);
    overflow-y: auto;
    background-color: var(--background-color);
    transition: width 0.5s ease;
}

.sidebar.menu-toggle {
    width: 18.75rem;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    padding: 0.9rem 0.7rem;
    text-decoration: none;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    color: var(--text-color);
}

.sidebar a:hover {
    color: var(--text-color);
    background-color: var(--background-hover)
}

.sidebar a.emergencia {
    color: var(--text-color-emergency);
    background-color: var(--backgroung-emergency-color);
}

.icon {
    filter: invert(19%) sepia(67%) saturate(5202%) hue-rotate(164deg) brightness(93%) contrast(92%);
}

.emergencia img {
    filter: brightness(0) invert(1);
    /* lo convierte en blanco */
}

.sidebar a.whatsapp {
    color: var(--text-color-whatsapp);
    background-color: var(--backgroung-whatsapp-color);
}

.whatsapp img {
    filter: brightness(0) invert(1);
    /* lo convierte en blanco */
}

.sidebar a.selected {
    color: var(--color-text-sidebar-selected);
    background-color: var(--color-background-sidebar);
}

.sidebar img {
    width: 1.6rem;
}


/* Menu */

/* Botón menú */
.menu-btn {
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    /* animación suave */
}

.menu-btn {
    filter: brightness(0) invert(1);
    /* lo convierte en blanco */
}

/* Cuando el menú está abierto → rotamos */
.menu-btn.rotated {
    transform: rotate(90deg);
}


.emergencia-telefono {
    margin: 5px;
    margin-left: 20px;
}

.sidebar .emergencia-telefono {
    opacity: 0;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.3s ease;
}

/* Cuando el menú se abre */
.sidebar.menu-toggle .emergencia-telefono {
    opacity: 1;
    max-width: 200px;
    /* ajusta al espacio que necesites */
    margin-left: 20px;
}

.whatsapp-telefono {
    margin: 5px;
    margin-left: 20px;
}

.sidebar .whatsapp-telefono {
    opacity: 0;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.3s ease;
}

/* Cuando el menú se abre */
.sidebar.menu-toggle .whatsapp-telefono {
    opacity: 1;
    max-width: 200px;
    /* ajusta al espacio que necesites */
    margin-left: 20px;
}

/*main*/
main {
    margin-top: 4rem;
    margin-left: 4rem;
    transition: margin-left 0.5s ease;
}

main.menu-toggle {
    margin-left: 18.75rem;
}

/* Animación de entrada */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Pantallas ocultas */
.pantalla {
    display: none;
}

/* Pantalla activa con animación */
.pantalla.active {
    display: block;
    animation: fadeInUp 0.5s ease forwards;
}

@media (max-width: 756px) {
    .right .icons-header {
        display: none;
    }
}


/*Responsive*/
@media (max-width:1200px) {
    .brand .logo {
        width: 12rem;
    }

    .sidebar {
        width: 0;
    }

    main {
        margin-left: 0;
    }

    main.menu-toggle {
        margin-left: 0;
    }

    .menu.menu-toggle div:first-child {
        width: 100%;
        transform: rotate(-45deg) translate(-0.2rem, 0.3rem);
    }

    .menu.menu-toggle div:nth-child(2) {
        opacity: 0;
    }

    .menu.menu-toggle div:last-child {
        width: 100%;
        transform: rotate(45deg) translate(-0.2rem, -0.3rem);
    }
}

/* Por defecto se muestran en pantallas pequeñas */
.sidebar-socials {
    display: flex;
    justify-content: space-around;
    padding: 10px 0 150px;
}

/* Ocultar completamente en pantallas grandes (PC) */
@media (min-width: 756px) {
    .sidebar-socials {
        display: none;
    }
}

.sidebar-socials a img {
    width: 24px;
    height: 24px;
}